In [ ]:
for i in range(0,101,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
num = int(input("Digite el número de la tabla de multiplicar: "))

for i in range(11):
  print(i, " x ", num, " = ",  i * num)

Digite el número de la tabla de multiplicar: 9
0  x  9  =  0
1  x  9  =  9
2  x  9  =  18
3  x  9  =  27
4  x  9  =  36
5  x  9  =  45
6  x  9  =  54
7  x  9  =  63
8  x  9  =  72
9  x  9  =  81
10  x  9  =  90

In [ ]:
num = int(input("Digite su edad: "))

for i in range(num + 1):
  print("has cumplido", i)

Digite su edad: 24
has cumplido 0
has cumplido 1
has cumplido 2
has cumplido 3
has cumplido 4
has cumplido 5
has cumplido 6
has cumplido 7
has cumplido 8
has cumplido 9
has cumplido 10
has cumplido 11
has cumplido 12
has cumplido 13
has cumplido 14
has cumplido 15
has cumplido 16
has cumplido 17
has cumplido 18
has cumplido 19
has cumplido 20
has cumplido 21
has cumplido 22
has cumplido 23
has cumplido 24

In [ ]:
num = int(input("Digite un número entero positivo: "))

for i in range(1,num + 1,2):
  print(i, end= ",")

Digite un número entero positivo: 16
1,3,5,7,9,11,13,15,

In [ ]:
acu = 0

for i in range(0,100,2):
  # print(i)
  acu = acu + i
print(f"El total de la suma de los número pares del 1 hasta el 100 es {acu}")

El total de la suma de los número pares del 1 hasta el 100 es 2450